<div class="wrapper">
    <div class="row relative-position slider-wrapper">
        <div class="col-sm-2">
            <div class="journey-item" ng-repeat="journey in journeys track by $index">
                <img src="images/test.png" />
            </div>
        </div>
        <div class="col-sm-10">
            <div slider-with-image="slider" ng-repeat="slider in sliders track by $index"></div>
        </div>
        <div class="bottom" id="result">
            
            <div class="bordered pull-right">
                <div width="200" ng-radial-gauge ranges="ranges" value="sliders[0].value" value-unit="unit" precision="precision" lower-limit="sliders[0].floor" upper-limit="sliders[0].ceil"></div>
            </div>
            <div class="bordered pull-right"></div>
            <div class="bordered pull-right"></div>
        </div>
    </div>
</div>
