<!--<div cover-flow=""></div>-->
<div class="wrapper">
    <div class="center">
        <p class="lead">Tell us about your current lifestyle</p>
        <hr>
        <small>Drag the sliders for each category to tell us about your spends</small>
    </div>

    <p></p>

    <div class="row relative-position slider-wrapper">

        <div class="col-sm-2 journey">

            <div class="journey-item" ng-repeat="journey in ::journeys track by $index" ng-class="{selected : journey.selected}"
                ng-mouseenter="journey.hover = true"
                ng-mouseleave="journey.hover = false"
                ng-click='setSelected(journey)'>

                <img ng-src="{{imgsrc($index)}}" />

            </div>
        </div>
        <div class="col-sm-10">
            <div ng-repeat='journey in journeys'>
                <div ng-show="journeys[$parent.$index].selected" slider-with-image="slider"
                on-change="monthlySpend()" ng-repeat="slider in journey.sliders track by $index"></div>
            </div>

            <div class="row" id="result">
                <div class="col-sm-3">
                    <div class="bordered center">
                        <h1>${{averageMonthlyExpense}}</h1>
                        <h5>Monthly Spend</h5>
                    </div>
                </div>
                <div class=" col-sm-3 ">
                    <div class="bordered center">
                        <h1>${{targetInvestment | number : 0}}</h1>
                        <h5>Target Investment</h5>
                    </div>
                </div>
                <div class=" col-sm-3">
                    <div class="bordered center">
                        <h1>${{goal| number:0}}</h1>
                        <h5>Retirement Goal</h5>
                    </div>
                </div>
                <div class=" col-sm-3">
                    <div class="bordered">
                        <div width="200" ng-radial-gauge ranges="ranges" value="gauzeTotal()" value-unit="unit" precision="precision" lower-limit="0" upper-limit="100"></div>
                    </div>
                </div>
                <!--<a class="btn btn-default" ng-click="monthlySpend()" href=""> ClickME</a>-->
            </div>
        </div>
    </div>
</div>
