<div class="wrapper" id="login-form-wrapper">
  
<form class="form-horizontal" name="form" novalidate>
  <div class="form-group" ng-class="{'has-error': form.name.$error.required && form.$submitted}">
    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" required="" ng-model="person.name" name="name" class="form-control" id="inputEmail3" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Age</label>
    <div class="col-sm-10">
      <!--<input type="text" class="form-control" id="inputPassword3" placeholder="Password">-->
       <rzslider rz-slider-model="person.age" rz-slider-floor='18' rz-slider-ceil="120" rz-slider-always-show-bar="true" rz-slider-step="1" rz-slider-tpl-url="rzSliderTpl.html"></rzslider>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-10">
   <div class="btn-group">
     
        <label class="btn btn-success"  ng-model="person.gender" btn-radio="'Male'" >Male</label>
        <label class="btn btn-success" ng-model="person.gender" btn-radio="'Female'" >Female</label>
    
    </div>
    </div>
  </div>
  
  <!-- it can be used as an element -->

  
  <!--<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>-->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" ng-click="redirect()" value="Get Started"></a>
    </div>
  </div>
</form>
</div>